name: Build Docker image

on: [push, pull_request]

jobs:
    build:
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@v6
        - name: Run docker
          run: |
            docker compose build
    
    release:
      needs:
        - build
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      runs-on: ubuntu-24.04
      steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Release
          run: |
            npm install
            npx semantic-release --branches main
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        
        - name: Log in to Docker Hub
          uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
    
        - name: Retrieve version
          id: tag
          run: echo "version=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
    
        - name: Extract metadata (tags, labels) for Docker
          id: meta
          uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
          with:
            images: w4bo/spark
            tags: |
              ${{steps.tag.outputs.version}}
              latest
    
        - name: Build and push Docker image
          uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
