name: Build Docker image

on: [push, pull_request]

jobs:
    build:
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@v6
        - name: Run docker
          run: |
            docker compose build
    
    release:
      needs:
        - build
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      runs-on: ubuntu-24.04
      steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Release
          run: |
            npm install
            npx semantic-release --branches main
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        
        - name: Log in to Docker Hub
          uses: docker/login-action@916386b00027d425839f8da46d302dab33f5875b
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
    
        - name: Retrieve version
          id: tag
          run: echo "version=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
    
        - name: Extract metadata (tags, labels) for Docker
          id: meta
          uses: docker/metadata-action@f0a4bc3c2d4c68c4ddaeaca7ba2497760fe0ead4
          with:
            images: w4bo/spark
            tags: |
              ${{steps.tag.outputs.version}}
              latest
    
        - name: Build and push Docker image
          uses: docker/build-push-action@64c9b141502b80dbbd71e008a0130ad330f480f8
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
